.l-footer {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 61px;
  @include mq(md, max) {
    padding-top: 48.5px;
    padding-bottom: 32.5px;
  }
  &__container {
    max-width: 1070px;
    margin: auto;
    padding: 0 20px;
    @include mq(md, max) {
      padding: 0 30px;
      max-width: 345px;
    }
    @include mq(md, max) {
      padding: 0 15px;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq(md, max) {
      flex-direction: column;
    }
  }
  &__contact {
    @include mq(md, max) {
      width: 100%;
    }
    & > li > p {
      font-size: 1.4rem;
      color: #282828;
      text-align: left;
      line-height: 24px;
      letter-spacing: 1.4px;
      @include mq(md, max) {
        font-size: 2.6rem;
        line-height: 1.7;
        letter-spacing: 0;
        color: #000;
      }
    }
  }
  &__logo {
    text-align: right;
    @include mq(md, max) {
      text-align: center;
      margin-top: 50px;
    }
    @include mq(md, max) {
      text-align: center;
      margin-top: 25px;
    }
    & > a > figure {
      margin-top: 13px;
      @include mq(md, max) {
        margin-top: 0;
      }
      & > img {
        @include mq(md, max) {
          width: 200px;
          height: 51px;
        }
        @include mq(md, max) {
          width: 100px;
          height: 25.5px;
        }
      }
    }
    & > p {
      color: #282828;
      font-size: 1.2rem;
      letter-spacing: 1.2px;
      line-height: 24px;
      // padding-top: 5px;
      @include mq(md, max) {
        font-size: 2rem;
        line-height: 1.2;
        letter-spacing: 2px;
        color: #000;
        padding-top: 0;
        margin-top: 30px;
      }
      @include mq(md, max) {
        letter-spacing: 1px;
        margin-top: 15px;
      }
    }
  }
}
