.p-banner {
  padding-top: 105px;
  padding-bottom: 16px;
  @include mq(md, max) {
    padding-top: 40px;
    padding-bottom: 8px;
  }
  &__container {
    max-width: 1090px;
    margin: auto;
    padding: 0 30px;
    @include mq(md, max) {
      padding: 0 15px;
      max-width: 345px;
    }
  }

  &__bg1 {
    background-image: url(../images/banner1.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    border-radius: 50px;
    position: relative;

    @include mq(md, max) {
      background-color: #e1e7f5;
      background-image: url(../images/banner1-sp.png);
      height: 500px;
      max-width: 500px;
      margin: auto;
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
      border-radius: 50px;
    }
    @include mq(md, max) {
      height: 250px;
      max-width: 250px;
      border-radius: 25px;
    }

    & .p-banner__content {
      @include mq(md, max) {
        top: 0;
        transform: translateY(84px);
      }
      @include mq(md, max) {
        transform: translateY(42px);
      }
    }
  }

  &__bg2 {
    background-image: url(../images/banner2.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 260px;
    border-radius: 50px;
    position: relative;
    @include mq(md, max) {
      background-image: url(../images/banner2-sp.png);
      height: 500px;
      max-width: 500px;
      margin: auto;
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
      border-radius: 50px;
    }
    @include mq(md, max) {
      height: 250px;
      max-width: 250px;
      border-radius: 25px;
    }

    & > figure {
      position: absolute;
      background-color: transparent;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include mq(md, max) {
        width: 411px;
        max-width: 100%;
        transform: translateX(-50%);
      }
      @include mq(md, max) {
        width: 205.5px;
      }
      & > img:nth-child(1) {
        @include mq(md, max) {
          display: none;
        }
      }
      & > img:nth-child(2) {
        display: none;
        @include mq(md, max) {
          display: block;
        }
      }
    }
  }

  &__content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    & > span {
      margin-bottom: 1px;
      color: #333333;
      font-weight: 400;
      font-size: 2rem;
      font-family: Hiragino Mincho Pro;
      text-align: center;
      line-height: 1.4;
      margin-right: 14px;
      @include mq(md, max) {
        font-size: 2.8rem;
        line-height: 60px;
        margin-right: 0;
        letter-spacing: 2.8px;
      }
      @include mq(md, max) {
        line-height: 30px;
        letter-spacing: 1.4px;
      }
    }
    & > h2 {
      color: #333333;
      font-weight: 400;
      font-size: 4.5rem;
      letter-spacing: 4.5px;
      text-align: center;
      line-height: 1.1;
      @include mq(md, max) {
        font-size: 4rem;
        line-height: 1.5;
        letter-spacing: 4px;
      }
      @include mq(md, max) {
        letter-spacing: 2px;
      }
    }
  }
}
