.p-hero {
  padding-top: 100px;
  @include mq(md, max) {
    padding-top: 45px;
  }
  @include mq(sm, max) {
    padding-top: 45px;
  }

  &__container {
    max-width: 1180px;
    margin: auto;
    padding: 0 30px;
    @include mq(md, max) {
      padding: 0 15px;
      max-width: 345px;
    }
    @include mq(sm, max) {
      padding: 0 15px;
    }
  }

  &__wrapper {
    background-image: url(../images/bg_main.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    height: 480px;
    @include mq(md, max) {
      background-image: url(../images/bg-main-sm.png);
      height: 521.5px;
      border-radius: 25px;
      background-position: bottom;
    }
    @include mq(sm, max) {
      height: 521.5px;
      border-radius: 25px;
    }
  }

  &__content {
    width: 55%;
    text-align: center;
    padding-top: 100px;
    padding-left: 50px;
    @include mq(md, max) {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding-left: 0;
      padding-top: 132px;
    }

    @include mq(sm, max) {
      padding-top: 132px;
    }

    &--sm {
      display: none;
      margin: auto;
      @include mq(md, max) {
        display: block;
        width: 145px;
        height: 69px;
      }
      @include mq(sm, max) {
        width: 145px;
        height: 69px;
      }
    }

    & > figure {
      margin-bottom: 6px;
      margin-right: 5px;
      @include mq(md, max) {
        margin-bottom: 20.5px;
        margin-right: 0;
      }
      @include mq(sm, max) {
        margin-bottom: 20.5px;
      }
      & > img:first-child {
        @include mq(md, max) {
          display: none;
        }
      }
    }

    & > h4 {
      font-size: 1.6rem;
      color: #000;
      line-height: 4;
      text-align: center;
      position: relative;
      letter-spacing: 1.5px;
      margin-left: -5px;
      @include mq(md, max) {
        font-size: 3rem;
        letter-spacing: 0.75px;
      }
      @include mq(sm, max) {
        letter-spacing: 0.75px;
      }

      &::before {
        content: "";
        width: 60px;
        height: 2px;
        background-color: #000;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-55%);
        @include mq(md, max) {
          width: 30px;
          height: 1px;
        }
        @include mq(sm, max) {
          width: 30px;
          height: 1px;
        }
      }
    }

    & > a {
      display: block;
      text-align: center;
      margin: auto;
      width: 306px;
      height: 55px;
      background-color: #25a989;
      border-radius: 27.5px;
      margin-top: 21px;
      @include mq(md, max) {
        width: 200px;
        height: 35px;
        border-radius: 17.5px;
        margin-top: 15px;
      }
      @include mq(sm, max) {
        width: 200px;
        height: 35px;
        border-radius: 17.5px;
        margin-top: 15px;
      }
      & > p {
        font-size: 2.4rem;
        color: rgb(255, 255, 255);
        line-height: 55px;
        letter-spacing: 4.5px;
        @include mq(md, max) {
          font-size: 3.2rem;
          line-height: 35px;
          letter-spacing: 2.25px;
        }
        @include mq(sm, max) {
          line-height: 35px;
          letter-spacing: 2.25px;
        }
      }
    }
  }

  &__info {
    margin-top: 8px;
    letter-spacing: 1.5px;
    margin-right: 5px;
    @include mq(md, max) {
      margin-top: 0;
      line-height: 30px;
    }
    @include mq(sm, max) {
      margin-right: 0;
      line-height: 30px;
    }
    & > span {
      font-size: 1.6rem;
      color: #000;
      @include mq(md, max) {
        font-size: 3rem;
      }
    }

    & > p {
      font-size: 3rem;
      color: #000;
      letter-spacing: 3px;
      margin-top: 1px;
      @include mq(md, max) {
        margin-top: 0;
        font-size: 4rem;
      }
    }
  }
}
