.p-point {
  background-image: url(../images/bgPoint.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__container {
    max-width: 1140px;
    margin: auto;
    padding: 0 20px;
    @include mq(md, max) {
      padding: 0 10px;
      max-width: 345px;
    }
  }

  &__wrapper {
    padding-top: 100px;
    padding-bottom: 110px;
    @include mq(md, max) {
      padding-top: 50px;
      padding-bottom: 55px;
    }
    & > p {
      font-size: 1.2rem;
      color: #333333;
      text-align: center;
      line-height: 1;
      margin-top: 50px;
      letter-spacing: 1.4px;
      @include mq(md, max) {
        font-size: 2.6rem;
        line-height: 1.7;
        letter-spacing: 2.6px;
        color: #000;
        padding: 0 10px;
      }
      @include mq(md, max) {
        margin-top: 25px;
        letter-spacing: 1.3px;
        padding: 0 5px;
      }
    }
  }

  &__content {
    max-width: 1050px;
    margin: auto;
    margin-bottom: 107px;
    padding: 0 10px;
    @include mq(md, max) {
      margin-bottom: 53.5px;
      padding: 0 5px;
    }
  }

  &__heading {
    max-width: 810px;
    margin: auto;
    padding: 0 10px;
    display: flex;
    @include mq(md, max) {
      padding: 0;
    }
  }

  &__number {
    margin-right: 28px;
    @include mq(md, max) {
      margin-right: 14px;
    }
    & > figure {
      position: relative;
      width: auto;
      text-align: center;
      display: flex;
      & > img {
        @include mq(md, max) {
          width: 85px;
          height: 61px;
        }
        @include mq(md, max) {
          width: 42.5px;
          height: 30.5px;
        }
      }
      &::after {
        content: "";
        width: 35px;
        height: 2px;
        background-color: #000;
        position: absolute;
        left: 50%;
        bottom: -20px;
        transform: translateX(-50%);
        @include mq(md, max) {
          width: 70px;
        }
        @include mq(md, max) {
          width: 35px;
          height: 1px;
          bottom: -10px;
        }
      }
    }
  }

  &__number > p {
    font-size: 2.2rem;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1.182;
    margin-top: 32px;
    @include mq(md, max) {
      font-size: 3.2rem;
    }
    @include mq(md, max) {
      margin-top: 16px;
    }
  }

  &__title {
    @include mq(md, max) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    & > h2 {
      font-size: 3.6rem;
      color: #176b6a;
      line-height: 1;
      margin-top: 3px;
      margin-bottom: 22px;
      letter-spacing: 3.7px;
      @include mq(md, max) {
        font-size: 4rem;
        letter-spacing: 4px;
      }
      @include mq(md, max) {
        letter-spacing: 2px;
        margin-top: 1.5px;
        margin-bottom: 11px;
      }
    }

    & > p {
      font-size: 1.4rem;
      color: rgb(0, 0, 0);
      line-height: 1.857;
      margin-left: 3px;
      letter-spacing: 1.4px;
      @include mq(md, max) {
        display: none;
      }
      @include mq(md, max) {
        margin-left: 1.5px;
        letter-spacing: 0.7px;
      }
    }

    &--sp {
      display: none;
      @include mq(md, max) {
        display: block;
        margin-top: 30px;
        margin-bottom: 35px;
      }
      @include mq(md, max) {
        margin-top: 15px;
        margin-bottom: 17.5px;
      }
      & > p {
        @include mq(md, max) {
          display: block;
          font-size: 2.6rem;
          letter-spacing: 2.6px;
          margin-left: 0;
        }
        @include mq(md, max) {
          letter-spacing: 1.3px;
        }
      }
    }
  }

  &__list {
    margin-top: 43px;
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    @include mq(md, max) {
      margin-top: 0;
      margin: -15px;
    }
    @include mq(md, max) {
      margin: -7.5px;
    }
  }

  &__wrapItem {
    width: 33.33%;
    padding: 10px;

    @include mq(lg, max) {
      width: 50%;
    }

    @include mq(md, max) {
      width: 100%;
      padding: 15px;
    }

    @include mq(md, max) {
      padding: 7.5px;
    }
  }

  &__Item {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    position: relative;
    border-radius: 30px;
    @include mq(md, max) {
      border-radius: 15px;
    }
  }

  @for $i from 1 through 9 {
    &__Item#{$i} {
      background-image: url("../images/point/item#{$i}.png");
    }
  }

  &__info {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: rgb(255 255 255 / 80%);
    border-radius: 26px;
    text-align: center;
    padding: 0 45px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
    @include mq(xl, max) {
      padding: 0 25px;
    }
    @include mq(md, max) {
      top: 30px;
      right: 30px;
      bottom: 30px;
      left: 30px;
      padding: 0 40px;
    }
    @include mq(md, max) {
      top: 15px;
      right: 15px;
      bottom: 15px;
      left: 15px;
      padding: 0 20px;
      border-radius: 13px;
    }

    & > h3 {
      font-size: 2.4rem;
      color: #176b6a;
      line-height: 1.083;
      position: relative;
      letter-spacing: 2px;
      margin-bottom: 30px;
      @include mq(md, max) {
        font-size: 3.2rem;
        margin-bottom: 100px;
      }
      @include mq(md, max) {
        letter-spacing: 1px;
        margin-bottom: 50px;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -18px;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 1px;
        background-color: #176b6a;
        @include mq(md, max) {
          width: 100px;
          bottom: -50px;
        }
        @include mq(md, max) {
          width: 50px;
          bottom: -25px;
        }
      }
    }

    & > p {
      font-size: 1.2rem;
      color: #000000;
      line-height: 1.75;
      text-align: left;
      letter-spacing: 1.2px;
      @include mq(md, max) {
        font-size: 2.6rem;
        letter-spacing: 2.6px;
      }
      @include mq(md, max) {
        letter-spacing: 1.3px;
      }
    }
  }

  &__wrapItem.active &__Item &__info {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }

  &__label {
    max-width: 100%;
    position: relative;
    margin-top: 30px;
    cursor: pointer;
    @include mq(md, max) {
      margin-top: 40px;
    }
    @include mq(md, max) {
      margin-top: 20px;
    }
    &:hover {
      opacity: 0.7;
    }
    & > figure {
      height: 40px;
      @include mq(md, max) {
        height: 53px;
      }
      @include mq(md, max) {
        height: 26.5px;
      }
    }
    & > figure > img {
      @include mq(md, max) {
        width: 263px;
        height: 53px;
      }
      @include mq(md, max) {
        width: 131.5px;
        height: 26.5px;
      }
    }
    & > span {
      width: 100%;
      font-size: 1.6rem;
      font-family: "Sawarabi Mincho";
      color: #ffffff;
      font-weight: 400;
      line-height: 1.625;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      letter-spacing: 1.5px;
      @include mq(md, max) {
        font-size: 2.6rem;
      }
      @include mq(md, max) {
        letter-spacing: 0.75px;
      }
    }
  }

  &__btnMore {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    cursor: pointer;
    @include mq(md, max) {
      right: 30px;
      bottom: 30px;
    }
    @include mq(md, max) {
      right: 15px;
      bottom: 15px;
    }
    & > img {
      @include mq(md, max) {
        width: 124px;
        height: 133px;
      }
      @include mq(md, max) {
        width: 62px;
        height: 66.5px;
      }
    }
    &:hover {
      opacity: 0.7;
    }
  }

  &__partner {
    width: 100%;
    padding-top: 7px;
    @include mq(md, max) {
      padding: 0 10px;
    }
    @include mq(md, max) {
      padding-top: 3.5px;
      padding: 0 5px;
    }
    & > h2 {
      font-size: 3rem;
      color: #176b6a;
      text-align: center;
      line-height: 1;
      margin-bottom: 48px;
      letter-spacing: 3px;

      @include mq(lg, max) {
        line-height: 1.2;
      }

      @include mq(md, max) {
        font-size: 3.6rem;
        line-height: 1.7;
        letter-spacing: 3.2px;
      }
      @include mq(md, max) {
        margin-bottom: 24px;
        letter-spacing: 1.6px;
      }
    }
  }
  &__partnerList {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    @include mq(md, max) {
      margin: -25px;
      padding: 0 30px;
    }
    @include mq(md, max) {
      margin: -12.5px;
      padding: 0 15px;
    }
  }
  &__partnerWrap {
    width: 25%;
    padding: 10px;
    @include mq(md, max) {
      width: 50%;
      padding: 25px;
    }
    @include mq(md, max) {
      padding: 12.5px;
    }
    &:nth-child(1) > .p-point__partnerItem > .p-point__partnerLogo > img {
      @include mq(lg, max) {
        width: 80px;
      }
      @include mq(md, max) {
        width: 105px;
      }
      @include mq(md, max) {
        width: 52.5px;
      }
    }
    &:nth-child(2) > .p-point__partnerItem > .p-point__partnerLogo > img {
      @include mq(lg, max) {
        width: 100px;
      }
      @include mq(md, max) {
        width: 164px;
      }
      @include mq(md, max) {
        width: 82px;
      }
    }
    &:nth-child(3) > .p-point__partnerItem > .p-point__partnerLogo > img {
      @include mq(lg, max) {
        width: 100px;
      }
      @include mq(md, max) {
        width: 159px;
      }
      @include mq(md, max) {
        width: 79.5px;
      }
    }
    &:nth-child(4) > .p-point__partnerItem > .p-point__partnerLogo > img {
      @include mq(lg, max) {
        width: 115px;
      }
      @include mq(md, max) {
        width: 200px;
      }
      @include mq(md, max) {
        width: 100px;
      }
    }
  }
  &__partnerItem {
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    height: 110px;
    @include mq(md, max) {
      height: 90px;
    }
    @include mq(md, max) {
      height: 45px;
      border-radius: 10px;
    }
  }
  &__partnerLogo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__partnerArrow {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    @include mq(md, max) {
      width: 10px;
      height: 25px;
      right: 15px;
    }

    @include mq(md, max) {
      width: 5px;
      height: 12.5px;
      right: 7.5px;
    }
  }
}
