<header class="c-header">
  <div class="c-header__container">
    <figure class="c-header__menuMobile" id="menuMobile">
      <img src="./assets/images/iconmenu_turnon.png" alt="iconmenu_turnon" />
      <img src="./assets/images/iconmenu_turnoff.png" alt="iconmenu_turnoff" />
    </figure>
    <nav class="c-header__nav">
      <ul>
        <li><a href="#">トップ</a></li>
        <li><a href="#products">毎日にハッカ油</a></li>
        <li><a href="#point">製品情報</a></li>
        <li><a href="#qa">Q&A</a></li>
        <li><a href="#banner1">ハッカ油コラム</a></li>
        <li><a href="#banner2">ハッカ油ムービー</a></li>
      </ul>
    </nav>
    <figure class="c-header__leaf1">
      <img src="./assets/images/leaf1.png" alt="leaf1" />
    </figure>
    <figure class="c-header__leaf2">
      <img src="./assets/images/leaf2.png" alt="leaf2" />
    </figure>
    <figure class="c-header__drop1">
      <img src="./assets/images/drop1.png" alt="drop1" />
    </figure>
    <figure class="c-header__drop2">
      <img src="./assets/images/drop2.png" alt="drop2" />
    </figure>
    <figure class="c-header__drop3">
      <img src="./assets/images/drop3.png" alt="drop3" />
    </figure>
    <figure class="c-header__drop4">
      <img src="./assets/images/drop4.png" alt="drop4" />
    </figure>
    <figure class="c-header__drop5">
      <img src="./assets/images/drop5.png" alt="drop5" />
    </figure>
    <figure class="c-header__drop6">
      <img src="./assets/images/drop6.png" alt="drop6" />
    </figure>
  </div>
</header>
